.email-index {
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 10px;
}

.compose-btn {
  background-color: rgb(188, 229, 248);
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}
