.container {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding: 20px;
  border-radius: 10px; /* Add this property for rounded edges */
}

/* GRIDS */
.simple-cards-grid {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 10px;
}

/* EmailIndex Grid */
.email-index-grid-container {
  display: grid;
  grid-template-columns: 256px 1fr 30px;
  grid-template-rows: 65px 1fr auto;
  background-color: #c9d6ff2c;
  height: 100%;
}

.index-nav-title {
  grid-area: 1 / 1 / span 1 / span 1;
  align-self: center;
}

.index-nav-filter {
  grid-area: 1 / 2 / span 1 / span 1;
}

.email-index-main {
  grid-area: 2 / 2 / span 1 / span 1;
  overflow: auto;
  background-color: white;
  border-radius: 20px;
}

.aside {
  grid-area: 2 / 1 / span 1 / span 1;
}
.footer {
  grid-area: 3 / 2 / span 1 / span 1;
}
