/* Original form Size */
.compose-form {
  display: flex;
  flex-direction: column;
  position: fixed;
  gap: 3px;
  bottom: 0;
  right: 4.2rem;
  height: 32rem;
  width: 34.2rem;
  z-index: 999;
  background: white; /* Background color */
  box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12), 0px 5px 5px -3px rgba(0, 0, 0, 0.2);
}

/* topBar (form Head) Btns */
.top-bar-action-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}
.close-btn {
  content: url(https://ssl.gstatic.com/ui/v1/icons/mail/rfr/ic_close_16px_1x.png);
}
.close-btn:hover {
  background-color: #d3cccc73;
}

.minimize-btn {
  content: url(https://ssl.gstatic.com/ui/v1/icons/mail/rfr/ic_minimize_16px_1x.png);
}
.minimize-btn:hover {
  background-color: #d3cccc73;
}

.maximize-btn {
  content: url(https://ssl.gstatic.com/ui/v1/icons/mail/rfr/ic_open_in_full_16px_1x.png);
}
.maximize-btn:hover {
  background-color: #d3cccc73;
}
/* Form content */
.form-head {
  display: flex;
  justify-content: space-between;
  background-color: rgb(238 242 255);
  padding: 12px;
}
.compose-form h1 {
  font-weight: 500;
  font-size: 0.9rem;
}
.form-to {
  outline: none;
  border: none;
  height: 35px;
  border-bottom: 1px solid #e3e1e1;
  margin: 0 15px 0 15px;
  padding: 5px 0 5px 0;
  font-size: medium;
}
.form-subject {
  outline: none;
  border: none;
  height: 35px;
  border-bottom: 1px solid #e3e1e1;
  margin: 0 15px 0 15px;
  padding: 5px 0 5px 0;
  font-size: medium;
}
.form-body {
  height: 400px;
  resize: none;
  outline: none;
  border: none;
  margin: 0 20px 0px 20px;
  font-size: large;
}

.submit-btn {
  width: 20%;
  margin: 0 0 10px 10px;
  border-radius: 20px 20px 20px 20px;
  padding: 10px;
  border: none;
  background-color: rgb(34, 87, 210);
  color: white;
  font-weight: 700;
  transition: background-color 0.2s, box-shadow 0.3s;
}

.submit-btn:hover {
  background-color: rgb(59, 106, 216);
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}

/* Views Minimized Maximized */
.minimize {
  height: 2.5rem;
  width: 250px;
}
.maximize {
  bottom: 1.5rem;
  inset-inline-start: 9.5rem;
  height: 91%;
  width: 83%;
  border-radius: 20px;
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
  /* sons */
  .form-head {
    border-radius: 15px;
  }
  .submit-btn {
    width: 6rem;
  }
  .form-body {
    height: 30rem;
  }
  /* when state maximize switch the maximize icon */
  .maximize-btn {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/rfr/ic_close_fullscreen_16px_1x.png);
  }
}

/* from Aside.jsx */
.compose-btn {
  text-decoration: none !important;
  color: inherit;
  background-color: rgb(188, 229, 248);
  border: none;
  width: 57%;
  padding: 19px;
  margin-inline-start: 8px;
  border-radius: 15px;
  font-weight: 500;
  transition: box-shadow 0.08s linear,
    min-width 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}
.compose-btn:hover {
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
    0 4px 8px 3px rgba(60, 64, 67, 0.149);
}
