.email-filter {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  width: 50%;
  justify-content: space-between;
}

.email-filter select,
.email-filter input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.email-filter label {
  font-weight: bold;
  margin-right: 10px;
}
